.mat-list-item{
    color: #cecece;
}

mat-list{

    margin-right: 52%;
}

.mat-divider {
    border-top-color: rgb(120, 120, 120);
}

mat-card-header .mat-card-title{
    font-size: 14px;
}

mat-card{
    margin: 14px;
    height: 270px;
    cursor: pointer;
}
