<div>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="2">
            <img style="width: 200px; height: 200px;" [src]="userInfo.images[0].url" />
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="2">

            <mat-list role="list">
                <mat-list-item role="listitem">{{userInfo.display_name}}</mat-list-item>
                <mat-list-item role="listitem"> 
                    <button mat-raised-button color="primary" matBadge="{{userInfo.followers.total}}" matBadgePosition="after" matBadgeColor="accent">
                        Followers
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem"> Country {{userInfo.country}}</mat-list-item>
                <mat-list-item role="listitem"> Email {{userInfo.email}}</mat-list-item>
            </mat-list>
        </mat-grid-tile>
      </mat-grid-list>

</div>

<mat-list>
    <mat-list-item><h3 style="color: grey">Playlists Section</h3></mat-list-item>
    <mat-divider></mat-divider>
</mat-list>


<div>
    <mat-grid-list cols="4" rowHeight="100px">
        <mat-grid-tile [colspan]="1" [rowspan]="4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and 
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    
</div>
